HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Gradle ###
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Application Specific ###
/bin/
/build/

### Uploaded Files ###
src/main/static/images/products/
src/main/static/images/markets/
src/main/static/images/stores/

### Sensitive Configuration Files ###
application-local.properties
application-prod.properties
*-secret.properties
